<ul>
  <li>
    <p>
      <strong><%= comment.body %></strong><%= " - #{comment.commenter}" %>
              <%= link_to "[x]", [comment.article, comment],
                  method: :delete,
                  data: {confirm: "Confirm delete of comment?"} %>
    </p>
  </li>
</ul>
